<!DOCTYPE html>
<html>
<head>
    <title>Froala Design Blocks - Skeleton</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-design-blocks/2.0.1/css/froala_blocks.min.css">

    <style>
        .lds-dual-ring {
        display: inline-block;
        width: 64px;
        height: 64px;
        }
        .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 46px;
        height: 46px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid rgb(140, 71, 71);
        border-color: #631515 transparent rgb(46, 23, 23) transparent;
        animation: lds-dual-ring 1.2s linear infinite;
        }
        @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
        }
        .btn-primary.focus, .btn-primary:focus,.btn-primary:active,
        textarea:focus, 
        textarea.form-control:focus, 
        input.form-control:focus, 
        input[type=text]:focus, 
        input[type=password]:focus, 
        input[type=email]:focus, 
        input[type=number]:focus, 
        [type=text].form-control:focus, 
        [type=password].form-control:focus, 
        [type=email].form-control:focus, 
        [type=tel].form-control:focus, 
        [contenteditable].form-control:focus {
        box-shadow: inset 0 -1px 0 #ddd;
        }
        .lds-hourglass {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
        }
        .lds-hourglass:after {
        content: " ";
        display: block;
        border-radius: 50%;
        width: 0;
        height: 0;
        margin: 6px;
        box-sizing: border-box;
        border: 26px solid #fed;
        border-color: #fed transparent #fed transparent;
        animation: lds-hourglass 1.2s infinite;
        }
        @keyframes lds-hourglass {
        0% {
            transform: rotate(0);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
        50% {
            transform: rotate(900deg);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        100% {
            transform: rotate(1800deg);
        }
        }
    </style>
    
</head>
<body>
    <header class="bg-dark">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="https://www.froala.com">
                    <img src="https://cdn0.froala.com/assets/froala-design-955decbace6bdfbf52dfaa4c0ac6a5a4.svg" height="30" alt="image">
                </a>
            
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav13" aria-controls="navbarNav13" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarNav13">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="https://www.froala.com">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.froala.com">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.froala.com">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.froala.com">Team</a>
                    </li>
                    </ul>
            
                    <ul class="navbar-nav justify-content-end ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.froala.com">Docs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.froala.com">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.froala.com">Log In</a>
                    </li>
                    </ul>
            
                    <a class="btn btn-light ml-md-3" href="https://www.froala.com">Button</a>
                </div>
            </nav>
        </div>
        </header>
        <section class="fdb-block bg-dark" id="app" v-bind:style="{backgroundImage: 'url('+image +')'}">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h1 v-on:click='changeMessage' class="btn btn-primary">${Message}</h1>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col text-center">
                        <!-- LOGIN  -->
                        <div v-if='isLogin' class="">
                                <div class="container">
                                        <div class="row justify-content-center">
                                        <div class="col-12 col-md-8 col-lg-7 col-md-5 text-center">
                                            <div class="fdb-box fdb-touch">
                                            <div class="row">
                                                <div class="col">
                                                <h1>Login</h1>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col mt-4">
                                                <input type="text" name="username" class="form-control" placeholder="Username">
                                                </div>
                                            </div>
                                            <div class="row mt-4">
                                                <div class="col">
                                                <input type="password" class="form-control mb-1" placeholder="Password">
                                                </div>
                                            </div>
                                            <div class="row mt-4">
                                                <div class="col">
                                                <button class="btn btn-primary" type="button">Submit</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                        </div>
                        <!-- REGISTER -->
                        <div class="">
                            <div v-if='!isLogin' class="container">
                                    <div class="row justify-content-center">
                                    <div class="col-12 col-md-8 col-lg-7 col-md-5 text-center">
                                        <div class="fdb-box fdb-touch">
                                        <div class="row">
                                            <div class="col">
                                            <h1>Register</h1>
                                            </div>
                                            
                                        </div>
                                        <div v-if='isSuccess' class="alert alert-success" role="alert">
                                            ${messageRes}
                                        </div>
                                        <div v-if='error' class="alert alert-danger" role="alert">
                                            ${messageRes}
                                        </div>
                                        <form  enctype="multipart/form-data">
                                            <div class="row">
                                                <div class="col mt-4">
                                                <input type="text" v-model='name' name="name" class="form-control" placeholder="Name">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col mt-4">
                                                <input type="text" v-model='username' name="username" class="form-control" placeholder="username">
                                                </div>
                                            </div>
                                            <div class="row mt-4">
                                                <div class="col">
                                                <input type="text" v-model='email' name="email" class="form-control" placeholder="Email">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col mt-4">
                                                <input type="text" v-model='phone' name="phone" id="phone" class="form-control" placeholder="Phone">
                                                </div>
                                            </div>
                                            <div class="row mt-4">
                                                <div class="col">
                                                <input type="password" v-model='passconf' name="passconf" class="form-control mb-1" placeholder="Password ">
                                                </div>
                                            </div>

                                            <div class="row mt-4">
                                                <div class="col">
                                                <input type="password" class="form-control mb-1" placeholder="Password conf">
                                                </div>
                                            </div>
                                            <div class="row mt-4">
                                                <div class="col">
                                                <input type="file" id="file" class="form-control mb-1" ref="file" v-on:change="handleFileUpload"/>
                                                <p class="text-right"><a href="https://www.froala.com">Already have an account?</a></p>

                                                </div>
                                            </div>
                                            <div class="row mt-4">
                                                <div class="col">
                                                <button class="btn btn-primary" v-on:click="submitFile" type="button">Submit</button>
                                                </div>
                                                <div v-if='isregister' class="lds-hourglass"></div>
                                            </div>
                                            </div>  
                                        </form>
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </section
        <section class="fdb-block">
            <div class="container">
                <div class="row text-center justify-content-center">
                <div class="col-12 col-md-8 col-lg-7">
                    <h1>Contact Us</h1>
                    <p class="lead">One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                </div>
                </div>
        
                <div class="row pt-4">
                <div class="col-12 col-md-6">
                    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8444388087937!2d26.101253041406952!3d44.43635311654287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff4770adb5b7%3A0x58147f39579fe6fa!2zR3J1cHVsIFN0YXR1YXIgIkPEg3J1yJthIEN1IFBhaWHIm2Ui!5e0!3m2!1sen!2sro!4v1507381157656"
                    width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
        
                <div class="col-12 col-md-6 pt-5 pt-md-0">
                    <form method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col">
                        <input type="email" class="form-control" placeholder="Enter email">
                        </div>
                    </div>
        
                    <div class="row mt-4">
                        <div class="col">
                        <input type="email" class="form-control" placeholder="Subject">
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                        <textarea class="form-control" name="message" rows="3" placeholder="How can we help?"></textarea>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                        <button type="submit" class="btn outline-primary">Submit</button>
                        </div>
                    </div>
                    </form>
                </div>
                </div>
            </div>
        </section>
    
        <footer class="fdb-block footer-small bg-dark">
            <div class="container">
                <div class="row text-center align-items-center">
                <div class="col">
                    <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" href="https://www.froala.com">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.froala.com">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.froala.com">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.froala.com">Terms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.froala.com">About</a>
                    </li>
                    </ul>
            
                    <p class="h5 mt-5">© 2013-2018 Froala</p>
                </div>
                </div>
            </div>
        </footer>
        <script src="https://unpkg.com/imask"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>  
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>


               
        <script>
            var app =new Vue({
                el:'#app',
                data:{
                    isLogin:false,
                    Message:"Login",
                    image:"https://cdn.pixabay.com/photo/2019/09/25/09/36/team-4503157__480.jpg",
                    name:'',
                    username:'',
                    phone:'',
                    email:'',
                    pass:'',
                    passconf:'',
                    isregister:false,
                    isSuccess:false,
                    error:false,
                    messageRes:'',
                    file:'',
                },
                delimiters:["${","}"],
                methods:{
                    changeMessage:function(){
                        this.isLogin =!this.isLogin
                        if(this.isLogin){
                            this.image="https://cdn.pixabay.com/photo/2018/05/04/10/30/team-3373638__480.jpg"
                            this.Message='Register'
                        }else{
                            this.image="https://cdn.pixabay.com/photo/2019/09/25/09/36/team-4503157__480.jpg"
                            this.Message='Login'
                        }
                    },
                    sendRegister:function(){
                        this.isregister=true
                        axios.defaults.xsrfCookieName = 'csrftoken'
                        axios.defaults.xsrfHeaderName = 'X-CSRFToken'
                        axios.post('http://127.0.0.1:8000/post', {
                            name: '' + this.name,
                            username: '' + this.username,
                            email: '' + this.email,
                            password: '' + this.pass,
                            passconf: '' + this.passconf,
                            phone:'' +this.phone,
                            }).then(response => {
                                console.log(response) 
                                if(response.data.success){
                                    this.isSuccess=true
                                    this.error=false
                                    this.messageRes=response.data.message
                                }
                                else{
                                    this.error=true
                                    this.isSuccess=false
                                    this.messageRes=response.data.message
                                }
                                this.isregister=false
                                console.log("success variable"+this.isSuccess)
                                console.log("success variable"+this.error)
                            })
                            .catch((err) => {
                                console.log(err);
                                this.isregister=false
                            })
                    },
                    handleFileUpload:function(){
                        this.file = this.$refs.file.files[0];
                    },
                    submitFile:function(){
                        let formData=new FormData()
                        formData.append('file',this.file)
                        formData.append('username',this.username)
                        formData.append('email',this.email)
                        formData.append('phone',this.phone)
                        formData.append('name',this.name)
                        formData.append('password',this.pass)
                        formData.append('passconf',this.passconf)
                        axios.defaults.xsrfCookieName = 'csrftoken'
                        axios.defaults.xsrfHeaderName = 'X-CSRFToken'
                        axios.post('http://127.0.0.1:8000/postsImage',formData,{
                            headers: {
                                'Content-Type': 'multipart/form-data',
                            }
                        }).then((response) => {
                            console.log(response.data)
                            console.log(response.data.success) 
                            if(response.data.success){
                                this.isSuccess=true
                                this.error=false
                                this.messageRes=response.data.message
                            }
                            else{
                                this.error=true
                                this.isSuccess=false
                                this.messageRes=response.data.message
                            }
                            this.isregister=false
                        }).catch((err) => {
                            console.log(err)
                        })
                    }
            
                }
            })
        </script>
        <script>
            var element = document.getElementById('phone');
            var maskOptions = {
            mask: '+{255} 00-00-00-00'
            };
            var mask = IMask(element, maskOptions);
        </script>
</body>